.background {
    background: rgb(255, 240, 220);
    width: 100vw;
    height: 100vh;
}

.flex-rw {
    display: flex;

    &.align-center {
        align-items: center;
    }

    &.justify-center {
        justify-content: space-between;
    }
}

.flex-col {
    display: flex;
    flex-direction: column;

    &.align-center {
        align-items: center;
    }

    &.justify-space-btw {
        justify-content: space-between;
    }

    &.justify-center {
        justify-content: center;
    }

    &.justify-evenly {
        justify-content: space-evenly;
    }
}

.text-center {
    text-align: center;
}

.input-field {
    width: 100%;
    min-width: 228px;
    height: auto;
    margin-top: 10px;
}

.action-btn {
    border: 3px solid #000072;
    border-radius: 20px;
    background: #ce5959;
    color: wheat;
    padding: 10px;
    font-weight: 600;

    &:hover {
        border: 3px solid #010165;
        background: #b14d4d;
        color: rgb(255, 241, 216);
    }

    &:active {
        border: 3px solid #000072;
        background: #ce5959;
        color: wheat;
    }
}

.button-description {
    color: #ff0000;
    font-size: 10px;
}

.cursor-pointer {
    cursor: pointer;
}